!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/javascripts/underscore-1.3.0.min.js')
		script(src='/javascripts/backbone-0.5.3.min.js')
	body
		header
			h1 Kikwi
			p Welcome to Kikwi
		nav
			ul
				li
					a(href='/') Home
				li
					a(href='/shop') Shop
				li
					a(href='/cart') Cart
				li
					a(href='/admin') Admin
		footer
			br
			br
			p <em>Written in node.js and powered by kikwi</em>